:root{
  --head-color: #b4ac4a;
  
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: "PT Sans Caption", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #f7ecde;
}

h1,h2,h3,h4,h5,h6{
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

h1{
  font-size: 50px;
  width: fit-content;
  margin:  auto ;
  margin-top: 50px; 
  position: relative;
}
h1::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 25%;
  background-color: #fec260;
  left: 0;
  bottom: 10px;
  z-index: -1;
  transition: height 0.5s;
  cursor: text;
}
h1:hover::before{
  height: 50%;
}
h1 + hr{
  border: 1px dashed black !important;
  opacity: 1;
  margin-top: 50px;
  opacity: 75%;
}
button + hr{
  border: 1px dashed black !important;
  opacity: 1;
  margin-top: 30px;
  opacity: 75%;
}
#left-icon{
  color: #3ea55c;
  font-size: 25px;
}
h2{
  font-size: 25px;
  line-height: 30px;
  background-image: linear-gradient(to right, #3ea55c, #b2ac49);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
#right-icon{
  color: #b2ac49;
  font-size: 25px;
}

span {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: block;
}
.head span:nth-child(1) {
  background-color: #f15f5d;
}
.head span:nth-child(2) {
  background-color: #febe2e;
}
.head span:nth-child(3) {
  background-color: #4db748;
}


.state{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* NOTE: z-index:ف بنستخدم ال layer فوق layer او position:fixed;دايما لو عندنا  */
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.7);
  /* or :  */
  /* background-color: rgba(0 0 0 / 0.7);  */
  display: flex;
  justify-content: center;
  align-items: center;
}
.state .box{
  /* width: fit-content; */
}

@media (max-width: 768px) {
  .box{
    width: 50%;
  }
}
@media (min-width: 769px) {
  .box{
    width: 25%;
  }
}